*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
    margin: 0;
}
header{
    width: 100%;    
}

header h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color:darkturquoise;
    margin: 2;
    padding: 3%;
}

header h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:rgb(0, 251, 255);
    margin: 1;
    padding: 0%;
    color: rgb(0, 0, 0);
    text-decoration:wavy;
    font-size: 1em;
    font-weight:lighter;
    margin-inline: 40%;
}

header strong{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0%;
    color: rgb(0, 0, 0);
    text-decoration:wavy;
    font-size: 1em;
    font-weight:lighter;
    margin-inline: 30%;
}

img {
    max-width:50px;
    max-height:75px;
    width: auto;
    height: auto;
}

.imgem {
    max-width: 100%;
    max-height: 100%;
}

.box {
    float:left;
    width: 46%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 50;
    border: thin rgb(16, 234, 205) solid;
    margin: 15PX;
    padding: 1em;
   
    
}

P {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(54, 188, 188);
    margin: 1;
    padding: 1%;
    color: rgb(254, 253, 253);
    font-size: 1.5em;
    font-weight: bold;
}

header ul{
    text-align: center;
    background-color:rgb(54, 188, 188);
    margin: 2%;
    padding: 1%;
}

header li{
    display:inline;
    margin-right: 5%;                
}


header li a{
    color: rgb(2, 2, 2);
    text-decoration:double;
    font-size: 1.5em;
    font-weight: bold;
}

header li a:hover{
    text-decoration: underline;

}

#corpo{
    width: 70%;
    margin: 0 auto;
}

#corpo main section{
    text-align: center;
}

footer{
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    padding-bottom: 1px;

}

h1, h2{
    margin: 2%;
}


img{
    width: 30%;
}

.titulo{
    margin: 0 auto;
    margin-top: 5%;
    padding-bottom: 1px;
}

label {display:inline;margin: 3%;}
  input, button {padding: 10px;}
  input {width: 20%;}
  